* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/hogfinal.jpg);
    background-size: cover;
}

.mytable {
    max-height: 450px;
    overflow-y: scroll;
}

#tablebody {
    font-size: 12px;
}
.mytable{
	background-color: grey;
}

.tableheader{
	background-color: black;
	color: white;
}
table {
    text-align: center;
    padding: 4px;
    
}

th {
    text-align: center;
    padding: 4px;
}

tr {
    border: solid 2px black;
}
